@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.products {
  width: 70%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
.products__title {
  font-weight: 700;
  font-size: 34px;
  color: #3A3A3A;
  margin: 10px 0 40px 0;
}
.products .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products .switch__item {
  width: 28%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.products .switch__item:hover {
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
          box-shadow: 0 0 5px rgb(0, 0, 0);
}
.products .switch .active__switch {
  -webkit-box-shadow: 0 0 5px rgb(54, 94, 236);
          box-shadow: 0 0 5px rgb(54, 94, 236);
}
.products .switch__title {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  padding: 0 0 0 10px;
}
.products .switch__img {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 0;
}
.products__item_wrapper {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 0;
}
.products__item {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  margin: 0 0 50px 0;
  background-color: #fcfcfc;
}
.products__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: #f6f6f6;
}
.products__img {
  width: 100%;
  height: 310px;
}
.products__text {
  /* height: 100%; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}
.products__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
  padding: 25px 0 5px 0;
}
.products__characteristics {
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  padding: 5px 0;
}
.products__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
}
.products__sale .products__price {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #365EEC;
}
.products__sale .products__button {
  width: 150px;
  height: 45px;
  background: #365EEC;
  border-radius: 5px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__sale .products__button:hover {
  background: #0030DA;
}
.products__sale .products__button div {
  margin: auto;
}

.active__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1700px) {
  .products__sale .products__price {
    font-size: 24px;
  }
  .products__sale .products__button {
    width: 120px;
    height: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .header {
    width: 100%;
  }

  .products {
    width: 100%;
    padding: 20px;
  }
  .products .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products .switch__item {
    width: 35%;
    min-width: 350px;
    height: 55px;
  }
  .products .switch__title {
    font-size: 18px;
    line-height: 120%;
  }
  .products .switch__img {
    height: 45px;
    width: 45px;
  }
  .products__item {
    width: 35%;
    min-width: 350px;
    margin: 0 0 50px 0;
  }
  .products__img {
    height: 280px;
  }
  .products__name {
    font-size: 22px;
  }
  .products__characteristics {
    font-size: 16px;
  }
  .products__sale .products__price {
    font-size: 22px;
  }

  .footer {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .products {
    padding: 10px;
  }
  .products .switch {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .switch__item {
    width: 170px;
    min-width: 170px;
    height: 40px;
    margin: 0 0 10px 0;
  }
  .products .switch__title {
    font-size: 12px;
    line-height: 120%;
  }
  .products .switch__img {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  .products .switch {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .switch__item {
    width: 150px;
    min-width: 150px;
    height: 40px;
    margin: 0 0 10px 0;
  }
  .products .switch__title {
    font-size: 10px;
    line-height: 100%;
  }
  .products .switch__img {
    display: none;
  }
  .products__item {
    width: 95%;
    min-width: 0;
    margin: 0 0 50px 0;
  }
  .products__img {
    height: 280px;
  }
  .products__name {
    font-size: 22px;
  }
  .products__characteristics {
    font-size: 16px;
  }
  .products__sale .products__price {
    font-size: 18px;
  }
  .products__sale .products__button {
    width: 100px;
    height: 35px;
  }
}